<div class="movie">
  <div class="container">
    <div class="form">
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label for="showId" class="sr-only">ID</label>
          <input type="number" id="showId" name="showId" placeholder="ID" class="form-control m-2" [(ngModel)]="movie.id">
        </div>
        <button type="submit" (click)='loadShow()' class="btn btn-primary mb-2">Load</button>
      </form>
    </div>
    <div *ngIf="movie.name" class="show">
      <div class="row">
        <div class="col-4">
          <div class="rating">
            <img [src]="movie.image.medium" alt="">
            <!-- <star-rating></star-rating> -->
          </div>
          <div class="navbar navbar-expand navbar-light bg-light">
            <ul class="nav">
              <li><a class="nav-link" [routerLink]="['/welcome']" >Welcome</a></li>
              <li><a class="nav-link" [routerLink]="['/cast', showId]"> Cast </a></li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
